<!-- Botón simple -->
<button
  *ngIf="isButtonOnly; else linkTpl"
  class="btn me-3"
  [ngStyle]="{
    backgroundColor: isHovered ? color.hoverBackground : color.background,
    color: isHovered ? color.hoverText : color.text
  }"
  (click)="handleClick($event)"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
>
  <fa-icon *ngIf="icon" [icon]="icon"></fa-icon>
  {{ label }}
</button>

<!-- Enlace (routerLink) -->
<ng-template #linkTpl>
  <a
    *ngIf="routerLink; else noLinkTpl"
    [routerLink]="routerLink"
    routerLinkActive="active"
    [attr.aria-current]="isActiveRoute() ? 'page' : null"
    class="btn nav-link me-3"
    [ngStyle]="{
      backgroundColor: isHovered ? color.hoverBackground : color.background,
      color: isHovered ? color.hoverText : color.text
    }"
    (click)="handleClick($event)"
    (mouseenter)="isHovered = true"
    (mouseleave)="isHovered = false"
  >
    <fa-icon *ngIf="icon" [icon]="icon"></fa-icon>
    {{ label }}
  </a>

  <ng-template #noLinkTpl>
    <button
      class="btn me-3"
      [ngStyle]="{
        backgroundColor: isHovered ? color.hoverBackground : color.background,
        color: isHovered ? color.hoverText : color.text
      }"
      (click)="handleClick($event)"
      (mouseenter)="isHovered = true"
      (mouseleave)="isHovered = false"
    >
      <fa-icon *ngIf="icon" [icon]="icon"></fa-icon>
      {{ label }}
    </button>
  </ng-template>
</ng-template>

<!--<button
  class="btn"
  [routerLink]="routerLink"
  routerLinkActive="active"
  [attr.aria-current]="isActiveRoute() ? 'page' : null"
  [ngStyle]="{
    backgroundColor: isHovered ? color.hoverBackground : color.background,
    color: isHovered ? color.hoverText : color.text
  }"
  (click)="handleClick($event)"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
>
<fa-icon *ngIf="icon" [icon]="icon"></fa-icon>
{{ label }}
</button>-->