<div class="tw flex flex-col p-3 overflow-auto">
  <div class="w-full overflow-x-auto">
    <table id="usersTable" class="display table table-striped table-bordered w-full text-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Usuario</th>
          <th>Email</th>
          <th>Estado</th>
          <th>Fecha de Creación</th>
          <th class="text-center no-export">Acciones</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
  
<!-- Modal para Ver/Editar Usuario -->
<div id="userModal" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ modalMode === 'view' ? 'Ver Usuario' : 'Editar Usuario' }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form #userForm="ngForm">
          <div class="mb-3">
            <label class="form-label">id</label>
            <input *ngIf="selectedUser?.id" type="text" class="form-control" [value]="selectedUser.id" disabled>
          </div>
          <div class="mb-3">
            <label class="form-label">Usuario</label>
            <input *ngIf="selectedUser" type="text" class="form-control" [(ngModel)]="selectedUser.user" name="user" [disabled]="modalMode === 'view'">
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input *ngIf="selectedUser" type="email" class="form-control" [(ngModel)]="selectedUser.email" name="email" [disabled]="modalMode === 'view'">
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input *ngIf="selectedUser" type="password" class="form-control" [(ngModel)]="selectedUser.password" name="password" [disabled]="modalMode === 'view'">
          </div>
          <div class="mb-3">
            <label class="form-label">Estado</label>
            <select *ngIf="selectedUser" class="form-control" [(ngModel)]="selectedUser.status" name="status" [disabled]="modalMode === 'view'">
              <option value="Activo">Activo</option>
              <option value="Inactivo">Inactivo</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Fecha de Creación</label>
            <input *ngIf="selectedUser" type="text" class="form-control" [(ngModel)]="selectedUser.creationDate" name="creationDate" disabled>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button *ngIf="modalMode === 'edit'" type="button" class="btn btn-primary" (click)="saveUserChanges()">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
