<div class="sidebar-fixed">
  <a routerLink="/admin-dashboard" class="sidebar-brand">
    <span>Admin / User Panel</span>
  </a>
  <hr>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/admin-dashboard" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">
        <i class="fas fa-tachometer-alt"></i> Dashboard
      </a>
    </li>
    <hr>
    <li>
      <a routerLink="categories" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">
        <i class="fas fa-tags"></i> Categorías
      </a>
    </li>
    <hr>
    <li>
      <a routerLink="metrics" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">
        <i class="fas fa-chart-bar"></i> Métricas
      </a>
    </li>
    <hr>
    <li>
      <a routerLink="products" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">
        <i class="fas fa-box"></i> Productos
      </a>
    </li>
    <hr>
    <li>
      <a routerLink="orders" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">
        <i class="fas fa-shopping-cart"></i> Órdenes
      </a>
    </li>
    <hr>
    <li>
      <a routerLink="users" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">
        <i class="fas fa-user-cog"></i> Roles
      </a>
    </li>
    <hr>
    <li>
      <a routerLink="users" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">
        <i class="fas fa-users"></i> Usuarios
      </a>
    </li>
  </ul>
  <hr>
</div>
